* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif; }

.container {
  max-width: 85.375rem;
  width: 100%;
  margin: 0 auto; }

ul, li {
  list-style: none; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-BlackItalic.woff2") format("woff2"), url("../fonts/Poppins-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Black.woff2") format("woff2"), url("../fonts/Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-BoldItalic.woff2") format("woff2"), url("../fonts/Poppins-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-ExtraBold.woff2") format("woff2"), url("../fonts/Poppins-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Poppins-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-ExtraLight.woff2") format("woff2"), url("../fonts/Poppins-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Poppins-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Italic.woff2") format("woff2"), url("../fonts/Poppins-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-LightItalic.woff2") format("woff2"), url("../fonts/Poppins-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-MediumItalic.woff2") format("woff2"), url("../fonts/Poppins-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Poppins-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Thin.woff2") format("woff2"), url("../fonts/Poppins-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-ThinItalic.woff2") format("woff2"), url("../fonts/Poppins-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }
.header {
  display: flex; }
  @media (max-width: 768px) {
    .header {
      flex-direction: column; } }

.slider {
  display: flex;
  justify-content: center;
  position: relative;
  width: 54.4%; }
  @media (max-width: 768px) {
    .slider {
      width: 100%; } }
  .slider__img {
    height: 48rem;
    width: 100%; }
  .slider__logo {
    position: absolute;
    top: 1.875rem; }
  .slider__item {
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: center; }
  .slider__item::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4); }
  .slider__title {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    text-align: center;
    letter-spacing: 0;
    padding: 0 6.25rem;
    margin: 0; }
    @media (max-width: 768px) {
      .slider__title {
        padding: 0 1.25rem; } }
    @media (max-width: 576px) {
      .slider__title {
        font-size: 1.2rem;
        line-height: 2rem;
        padding-bottom: .5rem; } }
    @media (max-width: 1280px) {
      .slider__title {
        padding: 0 1.25rem; } }
    @media (max-width: 992px) {
      .slider__title {
        font-size: 1.5rem;
        line-height: 2.5rem; } }
  .slider__text {
    padding-left: 7.625rem;
    padding-right: 7.5625rem;
    color: white;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.5rem;
    font-weight: normal;
    text-align: center;
    font-style: normal;
    margin: 0;
    opacity: 1; }
    @media (max-width: 768px) {
      .slider__text {
        padding-left: 2.625rem;
        padding-right: 2.5625rem; } }
    @media (max-width: 1280px) {
      .slider__text {
        padding-left: 0.625rem;
        padding-right: 0.5625rem; } }
  .slider__list {
    margin: 0;
    padding: 0; }
  .slider__pagination {
    margin: 0;
    position: absolute;
    bottom: 3.75rem;
    display: flex;
    padding-left: 0; }
    @media (max-width: 576px) {
      .slider__pagination {
        bottom: 1.875rem; } }
    .slider__pagination-item {
      cursor: pointer;
      color: white;
      opacity: 1;
      font-size: 14px;
      content: "\f111";
      letter-spacing: 7px; }
  .slider__description {
    position: absolute;
    top: 30.125rem; }

.deactive {
  color: white; }

.active {
  color: #F9B76B; }

.form {
  width: 46.6%; }
  @media (max-width: 768px) {
    .form {
      width: 100%; } }
  .form__primary {
    padding-left: 6.5rem;
    padding-top: 5.8125rem;
    padding-right: 6.625rem;
    display: flex;
    flex-direction: column; }
    @media (max-width: 992px) {
      .form__primary {
        padding-left: 4.5rem;
        padding-right: 4.625rem; } }
  .form__title {
    text-align: left;
    font: normal normal 600 32px/42px Poppins;
    letter-spacing: 0px;
    color: #222F3E;
    opacity: 1;
    margin: 0;
    margin-bottom: 0.625rem; }
  .form__description {
    text-align: left;
    font: normal normal normal 16px/24px Poppins;
    letter-spacing: 0px;
    color: #8395A7;
    opacity: 1;
    margin: 0;
    padding-bottom: 3.5625rem; }
  .form__buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.25rem; }
  .form__button {
    background-color: #3b5998;
    padding: 0.69rem 3.4375rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center; }
    @media (max-width: 1280px) {
      .form__button {
        padding: 0.69rem 1.9rem; } }
    @media (max-width: 768px) {
      .form__button {
        padding: 0.69rem 4.2rem; } }
    @media (max-width: 576px) {
      .form__button {
        padding: 0.69rem 1.9rem; } }
    .form__button--google {
      background-color: white;
      border: 1px solid #C8D6E5; }
    .form__button--linkedin {
      background-color: #0077B7; }
  .form .form__group-label1 {
    position: relative; }
  .form__input-email {
    position: relative;
    padding: 1rem 0;
    padding-left: 1.03125rem;
    border: 1px solid #8395A7;
    width: 95%;
    opacity: 1;
    border-radius: 0.25rem;
    text-align: left;
    font-size: 0.875rem;
    letter-spacing: 0.13px;
    color: #00000099;
    opacity: 1;
    font-weight: normal;
    margin-bottom: 2.25rem; }
    .form__input-email:focus {
      outline: none; }
  .form__error-email {
    border: solid 2px #EE5253; }
  .form__label-error-email {
    display: none;
    position: absolute;
    color: #EE5253;
    font-size: 0.75rem;
    letter-spacing: 0.025rem;
    line-height: 1rem;
    top: 3.5rem;
    left: 1rem; }
  .form__label-email {
    font-size: 0.875rem;
    color: #00000099;
    letter-spacing: 0.13px;
    position: relative;
    top: -4.4rem;
    left: 1rem;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in; }
  .form__input-password {
    padding: 1rem 0;
    padding-left: 1.2rem;
    font-size: 0.875rem;
    color: #00000099;
    border-radius: 0.25rem;
    letter-spacing: 0.13px;
    width: 95%;
    border: 1px solid #8395A7;
    margin-bottom: 2.1875rem;
    cursor: text; }
    .form__input-password:focus {
      outline: none; }
  .form__label-pass {
    font-size: 0.875rem;
    color: #00000099;
    letter-spacing: 0.13px;
    position: relative;
    top: -4.4rem;
    left: 1rem;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in; }
  .form__label-error-password {
    display: none;
    position: absolute;
    color: #EE5253;
    font-size: 0.75rem;
    letter-spacing: 0.025rem;
    line-height: 1rem;
    top: 3.5rem;
    left: 1rem; }
  .form__group-label2 {
    position: relative; }
  .form__error-password {
    border: solid 2px #EE5253; }
  .form__eye {
    top: 1.145rem;
    position: absolute;
    width: 1.3175rem;
    right: 1.2825rem;
    cursor: pointer; }
  .form__eye2 {
    top: 1.145rem;
    position: absolute;
    width: 2rem;
    right: 1.2825rem;
    cursor: pointer; }
  .form__description2 {
    color: #6C5DD3;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.5rem;
    font-weight: normal;
    text-align: right;
    margin-bottom: 1.625rem;
    cursor: pointer; }
  .form__button-secondary {
    margin: 0 auto;
    border: none;
    padding: 1.25rem 5.568rem;
    background-color: #354BD4;
    color: white;
    font-size: 0.875rem;
    letter-spacing: 0px;
    font-weight: bold;
    border-radius: 3.125rem;
    cursor: pointer;
    margin-bottom: 5.4375rem; }
    .form__button-secondary:hover {
      opacity: .9; }
  .form__description3 {
    text-align: center;
    font-weight: normal;
    color: #576574;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.5rem;
    margin: 0; }
    @media (max-width: 768px) {
      .form__description3 {
        margin-bottom: 3rem; } }
  .form__hightlight-1 {
    color: #3345D7;
    cursor: pointer; }

.form__input-password:focus ~ .form__label-pass,
.form__input-password:not(:placeholder-shown).form__input-password:not(:focus) ~ .form__label-pass {
  top: -6.1rem;
  background-color: white;
  width: 18%;
  padding-left: 0.1875rem;
  font-size: 0.75rem; }

.form__input-email:focus ~ .form__label-email,
.form__input-email:not(:placeholder-shown).form__input-email:not(:focus) ~ .form__label-email {
  top: -6rem;
  background-color: white;
  width: 27%;
  padding-left: 0.1875rem;
  font-size: 0.75rem; }

.header {
  position: fixed;
  z-index: 900;
  background-color: white; }

.icon-general:before {
  content: "\e903";
  color: #8395A7; }

.nav {
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 901;
  position: fixed; }
  .nav__list {
    padding-left: 0.91125rem; }
  .nav__link {
    text-decoration: none;
    color: #222F3E;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.3125rem;
    padding: 1.125rem 0.3125rem;
    display: block;
    cursor: context-menu; }
    @media (max-width: 768px) {
      .nav__link {
        display: none; } }
    .nav__link--bold {
      color: #222F3E;
      font-weight: bold;
      font-size: 1.875rem;
      line-height: 2.875rem;
      padding-top: 2.4375rem; }
  .nav__item {
    padding-right: 1.25rem; }
    @media (max-width: 768px) {
      .nav__item {
        padding-right: 0; } }
  @media (max-width: 768px) {
    .nav__icon {
      padding-bottom: 1.125rem;
      padding-top: 1.09875rem; }
      .nav__icon--left {
        padding-top: 3rem; } }
  .nav__icon::before {
    color: #8395A7;
    padding-right: 1.020625rem;
    font-size: 1.229375rem;
    padding-left: 0.90125rem; }
  .nav__icon--left::before {
    padding-left: 0.02625rem;
    width: 1.25rem;
    height: 1rem;
    color: #222F3E;
    cursor: pointer; }
    @media (max-width: 768px) {
      .nav__icon--left::before {
        padding-left: 0.90125rem;
        padding-top: 3rem; } }
  .nav__icon--active::before {
    color: white; }
  .nav__icon--hide {
    display: none; }
  .nav__p {
    padding-left: 0.9375rem;
    display: none;
    padding-bottom: 2.18375rem;
    padding-top: 1.75rem; }
    @media (max-width: 768px) {
      .nav__p {
        display: block; } }
  @media (max-width: 768px) {
    .nav__icon--hide {
      display: block; } }

.nav__link:hover {
  color: #6C5DD3; }
  .nav__link:hover .nav__icon::before {
    color: #6C5DD3; }

.nav__link--bold:hover {
  color: #222F3E; }
  .nav__link--bold:hover .nav__icon::before {
    color: #222F3E; }

.nav__item:nth-child(10) {
  margin-top: 15.5625rem; }

@media (max-width: 768px) {
  .nav__link--active {
    background-color: #6C5DD3;
    border-radius: 0.75rem; }
    .nav__link--active .nav__icon::before {
      border-radius: 12px;
      color: white;
      display: block; } }
.nav__link--active .nav__link {
  color: white;
  background-color: #6C5DD3;
  border-radius: 12px; }
  .nav__link--active .nav__link .nav__icon::before {
    color: white; }

.search {
  background-color: white;
  display: flex;
  left: 18.4375rem; }
  @media (max-width: 576px) {
    .search {
      display: none; } }
  .search__icon {
    padding-left: 18.4375rem;
    padding-top: 1.375rem;
    padding-bottom: 0.9175rem; }
    @media (max-width: 768px) {
      .search__icon {
        padding-left: 5.4375rem; } }
  .search__input {
    padding-top: 1.4375rem;
    padding-bottom: 0.9375rem;
    font-size: 0.875rem;
    color: #8395A7;
    border: none;
    padding-left: 0.9175rem;
    padding-right: 25rem; }
    .search__input:focus {
      outline: none; }

.profile {
  background-color: white;
  display: flex;
  position: absolute;
  right: 0;
  align-items: center; }
  @media (max-width: 576px) {
    .profile {
      width: 83%;
      padding-left: 1rem; } }
  .profile__arrow {
    padding-right: 1.978125rem; }
    @media (max-width: 576px) {
      .profile__arrow {
        padding-right: 1rem; } }
  .profile__name {
    padding-right: 0.625rem; }
  .profile__img {
    padding-right: 1.1875rem;
    padding-top: 0.58625rem;
    padding-bottom: 0.60125rem; }
  .profile__email {
    padding-right: 2.4375rem; }
    @media (max-width: 576px) {
      .profile__email {
        padding-right: 1rem; } }
  .profile__notification {
    padding-right: 1.70875rem; }
    @media (max-width: 576px) {
      .profile__notification {
        padding-right: 1rem; } }
  .profile__icon-help {
    padding-right: 2.2825rem; }
    @media (max-width: 576px) {
      .profile__icon-help {
        padding-right: 1rem; } }

.content {
  background-color: #F4F5F7;
  display: flex; }

.titles {
  display: flex;
  padding-top: 7.0625rem;
  padding-left: 19.6875rem; }
  @media (max-width: 768px) {
    .titles {
      flex-direction: column;
      padding-top: 4.5625rem;
      padding-left: 6.5625rem; } }
  .titles__primary {
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 2.1875rem;
    color: #222F3E;
    font-weight: normal;
    margin: 0; }
  .titles__secondary {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 3.75rem;
    color: #222F3E;
    margin: 0; }
    @media (max-width: 768px) {
      .titles__secondary {
        font-size: 2rem; } }
  .titles__date {
    position: relative;
    padding-left: 13.4375rem;
    display: flex; }
    @media (max-width: 768px) {
      .titles__date {
        padding-left: 0;
        margin-top: -2rem; } }
    .titles__date-number {
      position: relative;
      top: 2.0625rem; }
    .titles__date-img {
      width: 3.34375rem;
      height: 3.34375rem; }
  .titles__day {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.3125rem;
    margin: 0;
    color: #222F3E;
    position: absolute;
    top: 0.9375rem;
    left: 0.75rem; }
  .titles__month {
    font-size: 0.625rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.3125rem;
    color: #222F3E;
    margin: 0;
    position: absolute;
    top: 1.9375rem;
    left: 0.875rem; }
  .titles__descriptions {
    display: flex;
    flex-direction: column;
    padding-left: 0.84375rem;
    position: relative;
    top: 2.75rem; }
    @media (max-width: 576px) {
      .titles__descriptions {
        padding-left: 0.3rem; } }
  .titles__description1 {
    color: #EE5253;
    font-size: 0.875rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.3125rem;
    margin: 0; }
  .titles__description2 {
    font-size: 0.75rem;
    color: #222F3E;
    font-weight: normal;
    letter-spacing: 0;
    margin: 0;
    line-height: 1.3125rem; }

.data {
  position: relative;
  background-color: #F4F5F7;
  padding-left: 19.6875rem;
  padding-top: 1.875rem;
  padding-right: 3.6875rem; }
  @media (max-width: 768px) {
    .data {
      padding-left: 4.6875rem;
      padding-right: .8rem; } }
  .data__students-primary {
    border-radius: 1.25rem;
    background-color: white;
    padding-top: 2.25rem;
    padding-left: 2.3125rem;
    padding-bottom: 2.125rem;
    display: flex; }
    @media (max-width: 768px) {
      .data__students-primary {
        flex-wrap: wrap;
        justify-content: center; } }
  .data__element {
    max-width: 9.9453125rem; }
    .data__element-head {
      color: #292930;
      font-size: 3rem;
      text-align: center;
      letter-spacing: 0;
      line-height: 4.5rem;
      font-weight: 600;
      margin: 0; }
    .data__element-description {
      color: #222F3E;
      font-size: 0.875rem;
      letter-spacing: 0;
      line-height: 1.3125rem;
      font-weight: normal;
      margin: 0;
      text-align: center;
      padding: 0 1rem; }
      .data__element-description--center {
        padding-top: 3.8rem; }
    .data__element-border {
      border-right: 1px solid #C8D6E5; }
  .data__message {
    background-color: white;
    border: 1px solid #C8D6E5;
    box-shadow: 0px 12px 30px #0000001A;
    border-radius: 5px;
    max-width: 147px; }
    .data__message-point1 {
      color: #6C5DD3;
      font-size: 52px;
      font-weight: bold;
      padding-left: 0.6875rem;
      padding-right: 0.6875rem;
      margin: 0; }
    .data__message-point2 {
      color: #AEDDEB;
      font-size: 52px;
      font-weight: bold;
      padding-left: 0.6875rem;
      padding-right: 0.6875rem;
      margin: 0; }
    .data__message-text {
      font-size: 0.75rem;
      color: #292930;
      margin: 0;
      letter-spacing: 0;
      line-height: 1.125rem;
      padding-bottom: 0.6875rem;
      padding-right: 2rem; }
    .data__message--students {
      position: absolute;
      top: -0.1rem;
      right: 4.9rem; }

/*# sourceMappingURL=styles.css.map */
