
.header{
  position: fixed;
  z-index: 900;
  background-color: white;
}
.icon-general:before {
  content: "\e903";
  color: $color-three;
}
.nav{
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 901;
  position: fixed;
  
  &__list{
    padding-left: rem(14.580)
  }
  &__link{
    text-decoration: none;
    color: $color-five;
    font-size: rem(14);
    font-weight: $medium;
    letter-spacing: 0;
    line-height: rem(21);
    padding: rem(18) rem(5);
    display: block;
    cursor:context-menu;
    @include display(tablet-small-down){
      display: none;
    }
    &--bold{
      color: $color-five;
      font-weight: bold;
      font-size: rem(30);
      line-height: rem(46);
      padding-top: rem(39);
    }
  }
  &__item{
    padding-right: rem(20);
    @include display(tablet-small-down){
      padding-right: 0;
    }
  }
  &__icon{
    @include display(tablet-small-down){
      padding-bottom: rem(18);
      padding-top: rem(17.58);
      &--left{
        padding-top: 3rem;
      }
    }
  }
  &__icon::before{
    color: $color-three;
    padding-right: rem(16.33);
    font-size: rem(19.67);
    padding-left: rem(14.42);
    
  }
  
  &__icon--left::before{
    padding-left: rem(.420);
    width: rem(20);
    height: rem(16);
    color: $color-five;
    cursor: pointer;
    @include display(tablet-small-down){
      padding-left: rem(14.420);
      padding-top: 3rem;
    }
  }
  &__icon--active::before{
    color: white;
  }
  &__icon--hide{
    display: none;
  }
  &__p{
    padding-left: rem(15);
    display: none;
    padding-bottom: rem(34.94);
    padding-top: rem(28);
    @include display(tablet-small-down){
      display: block;
    }
  }
  @include display(tablet-small-down){
    &__icon--hide{
      display: block;
    }
  }
}
.nav__link:hover{
  color: $color-six;
  .nav__icon::before{
    color: $color-six;
  }
}
.nav__link--bold:hover{
  color: $color-five;
  
  .nav__icon::before{
    color: $color-five;
  }
}
.nav__item:nth-child(10){
  margin-top: rem(249);
}
//it class was created for js
.nav__link--active{
  @include display(tablet-small-down){
    background-color: $color-six;
    border-radius: rem(12);
    .nav__icon::before{
      border-radius: 12px;
      color: white;
      display: block;
    }
  }
  .nav__link{
    color: white;
    background-color: $color-six;
    border-radius: 12px;
    .nav__icon::before{
      color: white;
    }
  }
}
.search{
  background-color: white;
  display: flex;
  left: rem(295);
  @include display(mobile){
    display: none;
  }
  &__icon{
    padding-left: rem(295);
    padding-top: rem(22);
    padding-bottom: rem(14.68);
    @include display(tablet-small-down){
      padding-left: 5.4375rem;
    }
  }
  &__input{
    padding-top: rem(23);
    padding-bottom: rem(15);
    font-size: rem(14);
    color: $color-three;
    border: none;
    padding-left: rem(14.68);
    padding-right: rem(400);
    &:focus{
      outline: none;
    }
  }
}
.profile{
  background-color: white;
  display: flex;
  position: absolute;
  right: 0;
  align-items: center;
  @include display(mobile){
    width: 83%;
    padding-left: 1rem;
  }
  &__arrow{
    padding-right: rem(31.65);
    @include display(mobile){
      padding-right: 1rem;
    }
  }
  &__name{
    padding-right: rem(10);
  }
  &__img{
    padding-right: rem(19);
    padding-top: rem(9.38);
    padding-bottom: rem(9.62);
  }
  &__email{
    padding-right: rem(39);
    @include display(mobile){
      padding-right: 1rem;
    }
  }
  &__notification{
    padding-right: rem(27.34);
    @include display(mobile){
      padding-right: 1rem;
    }
  }
  &__icon-help{
    padding-right: rem(36.52);
    @include display(mobile){
      padding-right: 1rem;
    }
  }
}
.content{
  background-color: $color-seven;
  display: flex;
}
.titles{
  display: flex;
  padding-top: rem(113);
  padding-left: rem(315);
  @include display(tablet-small-down){
    flex-direction: column;
    padding-top: 4.5625rem;
    padding-left: 6.5625rem;
  }
  &__primary{
    font-size: rem(24);
    letter-spacing: 0;
    line-height: rem(35);
    color: $color-five;
    font-weight: normal;
    margin: 0;
  }
  &__secondary{
    font-size: rem(48);
    font-weight: bold;
    letter-spacing: 0;
    line-height: rem(60);
    color: $color-five;
    margin: 0;
    @include display(tablet-small-down){
      font-size: 2rem;
    }
  }
  &__date{
    position: relative;
    padding-left: rem(215);
    display: flex;
    @include display(tablet-small-down){
      padding-left: 0;
      margin-top: -2rem;
      margin-bottom: 2rem;
    }
    &-number{
      position: relative;
      top: rem(33);
    }
    &-img{
      width: rem(53.5);
      height: rem(53.5);
    }
  }
  &__day{
    font-size: rem(24);
    font-weight: bold;
    letter-spacing: 0;
    line-height: rem(21);
    margin: 0;
    color: $color-five;
    position: absolute;
    top: rem(15);
    left: rem(12);
  }
  &__month{
    font-size: rem(10);
    font-weight: bold;
    letter-spacing: 0;
    line-height: rem(21);
    color: $color-five;
    margin: 0;
    position: absolute;
    top: rem(31);
    left: rem(14);
  }
  &__descriptions{
    display: flex;
    flex-direction: column;
    padding-left: rem(13.5);
    position: relative;
    top: rem(44);
    @include display(mobile){
      padding-left: 0.3rem;
    }
  }
  &__description1{
    color: $error;
    font-size: rem(14);
    font-weight: bold;
    letter-spacing: 0;
    line-height: rem(21);
    margin: 0;
  }
  &__description2{
    font-size: rem(12);
    color: $color-five;
    font-weight: normal;
    letter-spacing: 0;
    margin: 0;
    line-height: rem(21);
  }
}
.data{
  position: relative;
  background-color: $color-seven;
  padding-left: rem(315);
  padding-top: rem(30);
  padding-right: rem(59);
  @include display(tablet-small-down){
    padding-left: 4.6875rem;
    padding-right: .8rem;
  }
  &__students-primary{
    border-radius: rem(20);
    background-color: white;
    padding-top: rem(36);
    padding-left: rem(37);
    padding-bottom: rem(34);
    display: flex;
    
    @include display(tablet-small-down){
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__element{
    max-width: rem(159.125);
    &-head{
      color: $color-eight;
      font-size: rem(48);
      text-align: center;
      letter-spacing: 0;
      line-height: rem(72);
      font-weight: $SemiBold;
      margin: 0;
    }
    &-description{
      color: $color-five;
      font-size: rem(14);
      letter-spacing: 0;
      line-height: rem(21);
      font-weight: normal;
      margin: 0;
      text-align: center;
      padding: 0 1rem;
      &--center{
        padding-top: 3.8rem;
      }
    }
    &-border{
      border-right: 1px solid $color-nine;
    }
  }
  &__message{
    background-color: white;
    border: 1px solid $color-nine;
    box-shadow: 0px 12px 30px #0000001A;
    border-radius: 5px;
    max-width: 147px;
    &-point1{
      color: $color-six;
      font-size: 52px;
      font-weight: bold;
      padding-left: rem(11);
      padding-right: rem(11);
      margin: 0;
    }
    &-point2{
      color: $color-ten;
      font-size: 52px;
      font-weight: bold;
      padding-left: rem(11);
      padding-right: rem(11);
      margin: 0;
    }
    &-text{
      font-size: rem(12);
      color: $color-eight;
      margin: 0;
      letter-spacing: 0;
      line-height: rem(18);
      padding-bottom: rem(11);
      padding-right: 2rem;
      
    }
    &--students{
      position: absolute;
      top: -0.1rem;
      right: 4.9rem;
    }
  }
}
.chart{
  background-color: $color-seven;
  padding-left: rem(315);
  display: flex;
  @include display(tablet-small-down){
    padding-left: 4.6875rem;
    flex-direction: column;
  }
  &__data{
    margin-top: rem(30);
    background-color: white;
    border-radius: rem(20);
    display: flex;
    margin-bottom: 2rem;
  }
  &__box{
    background-color: transparent;
    padding-top: rem(30);
    &-1{
      background-color: white;
      display: flex;
      align-items: center;
      margin-bottom: rem(30);
      border-radius: 20px;
    }
    &-text{
      padding-top: rem(30);
      padding-bottom: rem(25);
    }
    &-img{
      padding-left: rem(10);
      padding-right: rem(7);
      padding-top: rem(22);
      padding-bottom: rem(30);
      &-2{
        padding-left: rem(29);
        padding-right: rem(25);
        padding-top: rem(26);
        padding-bottom: rem(26);
      }
      &-3{
        padding-left: rem(10.99);
        padding-right: rem(13.41);
        padding-top: rem(19.36);
        padding-bottom: rem(16.67);
      }
      &-4{
        padding-left: rem(23);
        padding-right: rem(13.41);
        padding-top: rem(25);
        padding-bottom: rem(22);
      }
    }
  }
  &__title{
    color: $color-five;
    margin: 0;
    font-size: rem(18);
    letter-spacing: 0;
    line-height: rem(27);
    font-weight: $SemiBold;
    padding-top: rem(45);
    padding-left: rem(41);
    padding-bottom: rem(45);
  }
  &__description{
    &-1{
      font-weight: bold;
      margin: 0;
      font-size: rem(14);
      letter-spacing: 0;
      line-height: rem(16);
      color: $color-eleven;
      padding-left: 3.3125rem;
    }
  }
  &__primary{
    background-color: white;
    margin-right: rem(30);
    padding-right: 6.9rem;
    padding-top: 7.125rem;
  }
  
  &__number{
    color: $color-five;
    font-size: rem(48);
    font-weight: $SemiBold;
    letter-spacing: 0;
    line-height: rem(72);
    padding-left: rem(37);
    margin: 0;
    
  }
}
.results{
  position: relative;
  background-color: $color-seven;
  padding-left: 19.6875rem;
  top: -12.8rem;
  &__white{
    background-color: white;
    display: flex;
    max-width: 60%;
    overflow: hidden;
  }
  &__box{
    &:nth-child(1){
      margin-left: rem(32);
    }
    background-color: white;
    border: 1px solid $color-nine;
    border-radius: 20px;
    margin-right: .5rem;
  }
  &__title{
    color: $color-twelve;
    margin: 0;
    font-size: rem(12);
    letter-spacing: 0;
    line-height: rem(16);
    font-weight: bold;
    padding-left: rem(27);
    padding-top: rem(27);
  }
  &__description{
    font-weight: $medium;
    font-size: rem(32);
    letter-spacing: 0;
    line-height: rem(48);
    color: $color-five;
    padding-left: rem(27);
    padding-bottom: rem(27);
    padding-right: rem(27);
  }
}